.Footer-container {
  background-color: #671045;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 16px;
  max-height: 48px;
}